<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Transaction</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container col-md-6 mb-2">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand m-2 p-2 h1" style="background-color: #7dd076; color: #FFFFFF;">PayMyBuddy</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/home/transaction">Transaction<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/account">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/logout}">Sign out</a>
					</li>
				</ul>
			</div>
		</nav>
		<nav aria-label="breadcrumb">
  			<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a href="/home/home">Home</a></li>
    			<li class="breadcrumb-item"><a href="/home/transaction">Transaction</a></li>
    			<li class="breadcrumb-item active" aria-current="page">Connections</li>
  			</ol>
		</nav>
		<h4 class="text-center mt-2 mb-4">List of users to connect</h4>
		
		<div class="container col-md-7 mb-2">	
			<form action="#" th:action="@{/home/connection/}" method="post">		
				<table class="table table-bordered">
					<thead>
						<tr class="table-success">
							<th class="text-center"> # </th>
							<th class="text-center"> ID </th>
							<th class="text-center"> Email </th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${users.empty}">
							<td> No Connections Available </td>
						</tr>
						<tr th:each="user, count : ${users}">
							<td>
								<input class="text-center" type="checkbox" th:name="|users[${count.index}].selected|" th:checked="${user.selected}" />
            				</td>
						 	<td>
								<input class="border-0 text-center" type="text" readonly th:name="|users[${count.index}].id|" th:value="${user.getId()}"/>
							</td>
							<td>
								<input class="border-0 text-center" type="text" readonly th:name="|users[${count.index}].email|" th:value="${user.getEmail()}"/>
							</td>
						</tr>
					</tbody>
				</table>				
		
				<div class="col-md-12"> 
					<input class="btn btn-success btn-block" type="submit" value="Save connections" />
		            <a class="btn btn-success btn-block" href="/home/transaction" role="button">Cancel</a>
		        </div>
	       </form>
		</div>
	</div>
</body>
</html>